<form class='rant'>
  <header class='rant-header'>
    <div class='rant-header-title'>
      {{input placeholder='Rant Title' value=rantTitle autofocus='true'}}
    </div>
    <div class='rant-header-actions'>
      <button {{action 'saveRant'}} class='button button-primary fui-upload'> Save</button>
      <button {{action 'cancelRant'}} class='button fui-exit'> Cancel</button>
    </div>
  </header>
  <div class='rant-sidebar'>
    <div class='user-image'>
      {{gravatar-image email=session.currentUser.email class='gravatar'}}
    </div>
    <div>
      {{character-count rantBody.length}}
    </div>
    {{#each error in errorMessages}}
      <p>{{error}}</p>
    {{/each}}
  </div>
  <div class='rant-content'>
    {{textarea placeholder='Start your rant' value=rantBody}}
  </div>
</form>
