{{#if isEditing}}
  <form class='rant'>
    <header class='rant-header'>
      <div class='rant-header-title'>
        {{input placeholder='Rant Title' value=title autofocus='true'}}
      </div>
      <div class='rant-header-actions'>
        <button {{action 'saveRant' this}} class='button button-primary fui-upload'> Save</button>
        <button {{action 'cancelRant'}} class='button fui-exit'> Cancel</button>
        <button {{action 'deleteRant' this}} class='button button-warning fui-trash'> Delete</button>
      </div>
    </header>
    <div class='rant-sidebar'>
      <div class='user-image'>
        {{gravatar-image email=user.email class='gravatar'}}
      </div>
      <div>
        {{character-count body.length}}
      </div>
      {{#each error in errorMessages}}
        <p>{{error}}</p>
      {{/each}}
    </div>
    <div class='rant-content'>
      {{textarea placeholder='Start your rant' value=body}}
    </div>
  </form>
{{else}}
  <div class='rant'>
    <header class='rant-header'>
      <div class='rant-header-title'>
        <h3>{{title}}</h3>
      </div>
      {{#if isAuthor}}
        <div class='rant-header-actions'>
          <button {{action 'editRant'}} class='button button-primary fui-new'> Edit</button>
        </div>
      {{/if}}
    </header>
    <div class='rant-sidebar'>
      <div class='user-image'>
        {{gravatar-image email=user.email class='gravatar'}}
      </div>
    </div>
    <div class='rant-content'>
      {{body}}
    </div>
  </div>
{{/if}}
