<header class='nav-header' role='navigation'>
  <div class='content'>
    {{#link-to 'rants' classNames='nav-header-brand'}}Rantly{{/link-to}}
    <nav>
      {{#link-to 'rants'}}Rants{{/link-to}}
      {{#link-to 'users'}}Users{{/link-to}}
      {{#link-to 'signup'}}Sign Up{{/link-to}}
    </nav>
  </div>
</header>

<section class='content'>
  <div class='nav-sidebar'>
    <div class='nav-search'>
      {{input placeholder='Search' value=query action='searchRants' type='search' class='nav-search-input'}}
    </div>
    {{#if session.isAuthenticated}}
      <div class='login-form'>
        <button {{action 'invalidateSession'}} class='button button-block button-primary'>Log Out</button>
      </div>
    {{else}}
      <form {{action 'authenticate' on='submit'}} class='login-form'>
        <div class='form-group'>
          {{input placeholder='Email' value=identification}}
          <label class='input-icon fui-user'></label>
        </div>
        <div class='form-group'>
          {{input placeholder='Password' value=password type='password'}}
          <label class='input-icon fui-lock'></label>
        </div>
        <button type='submit' class='button button-block button-primary'>Log In</button>
        {{#if loginError}}
          <div class='login-error'>
            Nope! That email/password is invalid.
          </div>
        {{/if}}
      </form>
    {{/if}}
  </div>
  <div class='main-wrapper'>
    <div class='nav-header-inner'>
      {{#link-to 'rants.new'}}
        <button class='button button-invert'>New Rant</button>
      {{/link-to}}
    </div>
    <div class='main'>
      {{outlet}}
    </div>
  </div>
</section>
