<form {{action 'createUser' on='submit'}} class='signup-form'>
  <div class='form-group'>
    {{validated-input placeholder='Username' value=username type='text' errors=errors.username}}
  </div>
  <div class='form-group'>
    {{validated-input placeholder='Name' value=name type='text' errors=errors.name}}
  </div>
  <div class='form-group'>
    {{validated-input placeholder='Email' value=email type='text' errors=errors.email}}
  </div>
  <div class='form-group'>
    {{validated-input placeholder='Password' value=password type='password' icon=true errors=errors.password}}
  </div>
  <button type='submit' class='button button-block button-primary'>Sign Up</button>
</form>
